### 2.10 서울시 구별 CCTV 현황 분석
- 서울시 CCTV
- 서울시 주민등록인구(구별)

In [2]:
import numpy as np
import pandas as pd

In [13]:
cctv = pd.read_csv('data/서울시 자치구 년도별 CCTV 설치 현황_230630기준.csv', thousands=',', encoding='EUC-KR')
cctv.drop(columns=['Unnamed: 0', '총계', '2023년'], inplace=True)
cctv = cctv.set_index(['구분'])
cctv.drop(['계'], inplace=True)
# 결측치를 0으로 대체하고, 타입을 정수로
cctv['2014년 이전'] = cctv['2014년 이전'].fillna(0).astype(int)
cctv['CCTV댓수'] = cctv.sum(axis=1)
cctv['최근증가율'] = (cctv.loc[:, '2020년':'2022년'].sum(axis=1) / cctv['CCTV댓수'] * 100).round(2)
cctv.drop(columns=['2014년 이전']+ '2014년	2015년	2016년	2017년	2018년	2019년	2020년	2021년	2022년'.split(), inplace=True)
cctv.index = cctv.index.str.replace(' ','')
cctv.head(3)

     CCTV댓수  최근증가율
구분
종로구    1835  28.77
중구     2584  34.87
용산구    2970  50.81

#### 2. 인구 데이터 정리하기

In [10]:
jumin = pd.read_csv('data/서울주민등록구별.csv', thousands=',', encoding='UTF-8')
jumin = jumin.loc[:, '동별(2)':'2023 1/4.5']
del jumin['2023 1/4.4']
del jumin['2023 1/4']
jumin.drop(index=[0,1], inplace=True)
jumin = jumin.set_index('동별(2)')
jumin.tail(3)

      2023 1/4.1 2023 1/4.2 2023 1/4.3 2023 1/4.5
동별(2)
강남구       537817     532798       5019      83097
송파구       663704     658006       5698     105161
강동구       464027     459982       4045      79706

In [16]:
cctv['인구수'] = jumin['2023 1/4.1']
cctv['내국인'] = jumin['2023 1/4.2']
cctv['외국인'] = jumin['2023 1/4.3']
cctv['고령자'] = jumin['2023 1/4.5']
cctv['외국인비율'] = (cctv['외국인'].astype(int) / cctv['인구수'].astype(int) * 100).round(2)
cctv['고령자비율'] = (cctv['고령자'].astype(int) / cctv['인구수'].astype(int) * 100).round(2)
cctv.head(3)

     CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인비율  고령자비율
구분
종로구    1835  28.77  152212  141060  11152  28265   7.33  18.57
중구     2584  34.87  131390  120963  10427  25353   7.94  19.30
용산구    2970  50.81  232482  217756  14726  39478   6.33  16.98

In [17]:
cctv.to_csv('data/서울시_구별_CCTV_인구_현황.csv')