### 2.10 서울시 구별 CCTV 현황 분석
- 서울시 CCTV
- 서울시 주민등록인구(구별)

In [1]:
import numpy as np
import pandas as pd

In [25]:
cctv = pd.read_csv('data/서울시cctv.csv', thousands=',', encoding='EUC-KR')
del cctv['Unnamed: 0']
del cctv['2023년']
cctv = cctv.set_index(['구분'])
cctv['CCTV댓수'] = cctv.sum(axis=1)
cctv['최근증가율'] = (cctv.loc[:, '2020년':'2022년'].sum(axis=1) / cctv['CCTV댓수'] * 100).round(2)
cctv.drop(columns='2015년	2016년	2017년	2018년	2019년	2020년	2021년	2022년'.split(), inplace=True)
cctv.head(3)

     CCTV댓수  최근증가율
구분
종로구   10797  45.48
중구     9593  56.49
용산구   15775  44.27

#### 2. 인구 데이터 정리하기

In [29]:
jumin = pd.read_csv('data/서울주민등록구별.csv', thousands=',', encoding='UTF-8')
jumin = jumin.loc[:, '동별(2)':'2023 1/4.5']
del jumin['2023 1/4.4']
del jumin['2023 1/4']
jumin.drop(index=[0,1], inplace=True)
jumin = jumin.set_index('동별(2)')
jumin.tail(3)

      2023 1/4.1 2023 1/4.2 2023 1/4.3 2023 1/4.5
동별(2)
강남구       537817     532798       5019      83097
송파구       663704     658006       5698     105161
강동구       464027     459982       4045      79706

In [38]:
cctv['인구수'] = jumin['2023 1/4.1']
cctv['내국인'] = jumin['2023 1/4.2']
cctv['외국인'] = jumin['2023 1/4.3']
cctv['고령자'] = jumin['2023 1/4.5']
cctv['외국인비율'] = (cctv['외국인'].astype(int) / cctv['인구수'].astype(int) * 100).round(2)
cctv['고령자비율'] = (cctv['고령자'].astype(int) / cctv['인구수'].astype(int) * 100).round(2)
cctv.head(3)

     CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인비율  고령자비율
구분
종로구   10797  45.48  152212  141060  11152  28265   7.33  18.57
중구     9593  56.49  131390  120963  10427  25353   7.94  19.30
용산구   15775  44.27  232482  217756  14726  39478   6.33  16.98

In [41]:
cctv

      CCTV댓수  최근증가율     인구수     내국인    외국인     고령자  외국인비율  고령자비율
구분
종로구    10797  45.48  152212  141060  11152   28265   7.33  18.57
중구      9593  56.49  131390  120963  10427   25353   7.94  19.30
용산구    15775  44.27  232482  217756  14726   39478   6.33  16.98
성동구    19915  51.76  287240  280240   7000   48238   2.44  16.79
광진구    15082  58.72  350925  336801  14124   54854   4.02  15.63
동대문구   15111  47.68  354884  337574  17310   65154   4.88  18.36
중랑구    16762  63.32  389928  385003   4925   76116   1.26  19.52
성북구    20856  52.31  441855  430100  11755   78427   2.66  17.75
강북구    13585  62.43  296934  292762   4172   67056   1.41  22.58
도봉구     7501  62.09  312858  310509   2349   68114   0.75  21.77
노원구    13473  48.07  506989  502515   4474   93279   0.88  18.40
은평구    23293  48.75  468766  464871   3895   90556   0.83  19.32
서대문구   15538  51.60  321966  308437  13529   56785   4.20  17.64
마포구    13775  51.83  376542  365570  10972   56582   2.91  15.03
양천구    22030  46.10  442345  439219   3126   73522   0.71  16.62
강서구    14303  56.87  573711  568287   5424   98659   0.95  17.20
구로구    22560  50.13  417983  395183  22800   77259   5.45  18.48
금천구    13739  51.10  242467  229307  13160   43772   5.43  18.05
영등포구   18275  58.30  398999  376614  22385   66014   5.61  16.54
동작구    13966  48.26  390377  380201  10176   68766   2.61  17.62
관악구    24692  46.53  502628  487815  14813   83420   2.95  16.60
서초구    20819  47.06  408979  404831   4148   63328   1.01  15.48
강남구    38725  47.60  537817  532798   5019   83097   0.93  15.45
송파구    13537  56.86  663704  658006   5698  105161   0.86  15.84
강동구    14415  57.45  464027  459982   4045   79706   0.87  17.18

In [42]:
cctv.to_csv('data/서울시_구별_CCTV_인구_현황.csv')